html {
  line-height: 1;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  word-wrap: break-word;
  font-weight: 500;
}
html * {
  font-weight: inherit;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
a:hover {
  opacity: 0.7;
}
a * {
  backface-visibility: hidden;
}

#wrapper {
  overflow: hidden;
}

a:focus, *:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}
img[src$=".svg"] {
  max-width: 100%;
}

.fw_light {
  font-weight: 300;
}
.fw_normal {
  font-weight: 400;
}
.fw_medium {
  font-weight: 500;
}
.fw_bold {
  font-weight: 700;
}
.fw_semibold {
  font-weight: 600;
}
.fw_black {
  font-weight: 900;
}

.u_orange01 {
  background-color: #fab464;
}
.u_yellow01 {
  background-color: #fff01e;
}
.u_green01 {
  background-color: #aaf0c8;
}
.u_blue01 {
  background-color: #8cdcff;
}
.u_purple01 {
  background-color: #eba0eb;
}
.u_orange02 {
  background: linear-gradient(transparent 70%, #fab464 0%);
}
.u_yellow02 {
  background: linear-gradient(transparent 70%, #fff01e 0%);
}
.u_green02 {
  background: linear-gradient(transparent 70%, #aaf0c8 0%);
}
.u_blue02 {
  background: linear-gradient(transparent 70%, #8cdcff 0%);
}
.u_purple02 {
  background: linear-gradient(transparent 70%, #eba0eb 0%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgAnimation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all ease-in-out 0.6s;
  transform-origin: center right;
}
.imgAnimation.scrollActive::after {
  transform: scaleX(0);
}

.flowLink {
  position: relative;
  padding: 2px 0;
}
@media print, screen and (min-width: 768px) {
  .flowLink::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 2px;
    width: 100%;
    transform: scale(0);
    transform-origin: left center;
    transition: all ease 0.3s;
  }
}
.flowLink:hover::after {
  transform: scale(1);
}

.noFind {
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
}

.scroll_item, .scroll_list_item {
  opacity: 0;
  transition: all ease-in-out 0.6s;
}
.scroll_item.scrollActive, .scroll_list_item.scrollActive {
  opacity: 1;
  transform: translate(0) scale(1);
}

@media print, screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .sp {
    display: none !important;
  }
  #wrapper:not(.preload) * {
    transition: none !important;
  }
}
@media print, screen and (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 4vw;
  }
  .pc {
    display: none !important;
  }
  .flex_box_sp {
    display: flex;
    flex-wrap: wrap;
  }
}
@keyframes zoom {
  from {
    transform: scale(1) rotate(0.001deg);
  }
  to {
    transform: scale(1.15) rotate(0.001deg);
  }
}
.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}
.header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 98%;
  margin-left: auto;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .header__wrapper {
    width: 93.3%;
  }
}
.header__title {
  margin-top: 0.75rem;
}
@media print, screen and (min-width: 768px) and (max-width: 1000px) {
  .header__title {
    width: 45%;
  }
}
.header__note {
  font-size: 0.55rem;
  line-height: 1.6;
}
.header__logo {
  margin-top: 0.5rem;
  width: 9.3rem;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    margin-top: 0;
    width: 9.4rem;
  }
}
@media only screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 4rem;
    right: 0;
    left: 0;
    background-color: rgba(77, 77, 77, 0.9);
    width: 100vw;
    transform: translate(100%, 0);
    transition: all ease 0.6s;
    padding: 2rem 10%;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 767px) {
  .header__nav.active {
    transform: translate(0%, 0);
  }
}
.header__list {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}
@media only screen and (max-width: 767px) {
  .header__list {
    display: block;
  }
}
.header__item {
  text-align: center;
}
.header__item:not(:first-of-type) {
  margin-left: 1.75rem;
}
@media only screen and (max-width: 767px) {
  .header__item:not(:first-of-type) {
    margin: 0;
  }
}
.header__item .flowLink {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .header__item .flowLink {
    position: relative;
    display: block;
    border-top: 2px solid #808080;
    color: #fff;
    font-size: 1.3333333333rem;
    line-height: 4rem;
    height: 4.3333333333rem;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .header__item .flowLink::after {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    margin: auto;
    width: 0.6rem;
    height: 0.6rem;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
}
.header__item.mail a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ef7134;
  background: linear-gradient(90deg, #ef7134 0%, rgb(239, 86, 31) 100%);
  justify-content: center;
  padding: 1.25rem 1.5rem;
}
@media only screen and (max-width: 767px) {
  .header__item.mail a {
    position: relative;
    font-size: 1.2666666667rem;
    height: 5.6666666667rem;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header__item.mail a::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    border: 2px solid #fff;
  }
}
@media only screen and (max-width: 767px) {
  .header__item.mail a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 2rem;
    bottom: 0;
    margin: auto;
    width: 0.6rem;
    height: 0.6rem;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
}
.header__item.mail a figure {
  margin-bottom: 0.5rem;
  width: 1.2rem;
}
@media only screen and (max-width: 767px) {
  .header__item.mail a figure {
    position: absolute;
    top: 52%;
    left: 2rem;
    transform: translateY(-50%);
    margin: auto;
    margin-bottom: 0;
    width: 1.6rem;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  height: 4rem;
  width: 4rem;
}
@media print, screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__btn.active .header__bar:first-of-type {
  transform: translateY(0.55rem) rotate(35deg);
}
.header__btn.active .header__bar:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}
.header__btn.active .header__bar:last-of-type {
  transform: translateY(-0.4666666667rem) rotate(-35deg);
  width: 100%;
}
.header__btn.active .note.close {
  display: block;
}
.header__btn.active .note.menu {
  display: none;
}
.header__mark {
  position: relative;
  cursor: pointer;
  height: 1.1333333333rem;
  width: 2.3333333333rem;
}
.header__bar {
  position: absolute;
  left: 0;
  background-color: #000;
  height: 0.1333333333rem;
  width: 100%;
}
.header__bar:first-of-type {
  top: 0;
}
.header__bar:nth-child(2) {
  top: 0.4833333333rem;
}
.header__bar:last-of-type {
  bottom: 0;
}
.header .note {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 0.9333333333rem;
  margin-top: 0.4rem;
}
.header .note.close {
  display: none;
}
.header__mark, .header__bar {
  transition: all 0.6s ease;
  box-sizing: border-box;
}

.sec__wrapper {
  margin: auto;
  max-width: 1000px;
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .sec__wrapper {
    width: 90%;
  }
}

.titleType01 {
  text-align: center;
}
.titleType01--en {
  color: #fff;
  -webkit-text-stroke: 1px #b3b3b3;
  text-stroke: 1px #b3b3b3;
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .titleType01--en {
    font-size: 2.1666666667rem;
  }
}
.titleType01--ja {
  display: block;
  color: #ef7134;
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1.4;
  margin-top: 0.8rem;
}
@media only screen and (max-width: 767px) {
  .titleType01--ja {
    font-size: 1.8rem;
  }
}
.titleType01--ja span {
  color: #000;
}

.btnType01 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #666666;
  padding-left: 2rem;
  margin: auto;
  height: 3rem;
  width: 15rem;
}
@media only screen and (max-width: 767px) {
  .btnType01 {
    height: 3rem;
    width: 15rem;
  }
}
.btnType01.reverse {
  padding: 0 2rem 0 0;
  justify-content: flex-end;
}
.btnType01.reverse::before {
  right: auto;
  left: 0.5rem;
}
.btnType01.reverse::after {
  right: auto;
  left: 1.175rem;
  border-style: solid;
  border-width: 0.3rem 0.5rem 0.3rem 0;
  border-color: transparent #fff transparent transparent;
}
.btnType01::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  margin: auto;
  background-color: #ef7134;
  height: 2rem;
  width: 2rem;
}
.btnType01::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.175rem;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0.3rem 0 0.3rem 0.5rem;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
}

.catList {
  position: relative;
  margin: auto;
  width: 15rem;
  z-index: 8;
}
@media only screen and (max-width: 767px) {
  .catList {
    width: 15rem;
  }
}
.catList__btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #666666;
  padding-left: 1rem;
  height: 3rem;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .catList__btn {
    height: 3rem;
  }
}
.catList__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  margin: auto;
  background-color: #ef7134;
  height: 2rem;
  width: 2rem;
}
.catList__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.175rem;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0.5rem 0.3rem 0 0.3rem;
  border-color: #fff transparent transparent transparent;
  height: 0;
  width: 0;
}
.catList__list {
  position: absolute;
  width: 100%;
  background-color: #fff;
}
.catList__item:not(:first-of-type) a {
  position: relative;
  padding-left: 1.75rem;
}
.catList__item:not(:first-of-type) a::before {
  content: "-";
  position: absolute;
  left: 1rem;
}
.catList__item a {
  display: flex;
  align-items: center;
  border: 1px solid #666666;
  border-top: 0;
  padding: 0 0.5rem 0 1rem;
  line-height: 1.2;
  height: 3rem;
  width: 100%;
}

.newCaption {
  position: absolute;
  top: 10px;
  left: -57px;
  font-family: "Barlow", sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: #ef7134;
  color: #fff;
  padding: 2px 60px;
  transform: rotate(-45deg);
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .newCaption {
    font-size: 1rem;
  }
}

.medias__wrapper {
  margin-top: 2.5rem;
}
.medias__article:first-child a {
  border-top: 1px solid #d7d7d7;
}
.medias__article:nth-of-type(odd) a {
  background-color: #f5f5f5;
}
.medias__article a {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  height: 5rem;
}
@media only screen and (max-width: 767px) {
  .medias__article a {
    display: block;
    height: auto;
    padding: 1.3333333333rem 2rem 1.3333333333rem 1.3333333333rem;
  }
}
.medias__article a:hover::after {
  right: 0.5rem;
}
.medias__article a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
  width: 0.3rem;
  height: 0.3rem;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
  transition: all ease-in-out 0.3s;
}
.medias__time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  width: 20%;
}
@media only screen and (max-width: 767px) {
  .medias__time {
    display: block;
    width: 100%;
  }
}
.medias__title {
  line-height: 1.6;
  padding: 0 2rem 0 1rem;
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .medias__title {
    padding: 0;
    margin-top: 1rem;
    width: 100%;
  }
}

.relation {
  padding: 4rem 0;
}
@media only screen and (max-width: 767px) {
  .relation {
    padding: 3.3333333333rem 0;
  }
}
.relation__title {
  color: #ef7134;
  font-size: 2.1rem;
  font-weight: 900;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .relation__title {
    font-size: 1.8rem;
  }
}
.relation__slider {
  position: relative;
  margin-top: 1rem;
}
@media only screen and (max-width: 767px) {
  .relation__slider {
    margin-top: 1.6666666667rem;
  }
}
.relation__slider .swiper-container {
  overflow: hidden;
}
.relation__slider .swiper-container.slideNone {
  display: flex;
}
.relation__slider .swiper-container.slideNone .swiper-slide {
  width: 24%;
}
@media only screen and (max-width: 767px) {
  .relation__slider .swiper-container.slideNone .swiper-slide {
    width: 48%;
  }
}
.relation__slider .swiper-container.slideNone .swiper-slide:not(:first-child) {
  margin-left: 1%;
}
@media only screen and (max-width: 767px) {
  .relation__slider .swiper-container.slideNone .swiper-slide:not(:first-child) {
    margin-left: 4%;
  }
}
.relation__slider .swiper-container.slideNone + .swiper-button-prev {
  display: none;
}
.relation__slider .swiper-container.slideNone + .swiper-button-prev + .swiper-button-next {
  display: none;
}
.relation__slider .swiper-button-prev, .relation__slider .swiper-button-next {
  top: 40%;
  height: 5.6rem;
  width: 1.9rem;
}
@media only screen and (max-width: 767px) {
  .relation__slider .swiper-button-prev, .relation__slider .swiper-button-next {
    height: 4.8666666667rem;
    width: 1.6666666667rem;
  }
}
.relation__slider .swiper-button-prev {
  left: -3.5rem;
}
@media only screen and (max-width: 767px) {
  .relation__slider .swiper-button-prev {
    left: -0.8333333333rem;
  }
}
.relation__slider .swiper-button-next {
  right: -3.5rem;
}
@media only screen and (max-width: 767px) {
  .relation__slider .swiper-button-next {
    right: -0.8333333333rem;
  }
}
.relation__slider .swiper-button-prev:after, .relation__slider .swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  height: inherit;
  width: inherit;
}
.relation__slider .swiper-button-prev:after {
  background-image: url("../../assets/img/common/arrow-swiper.svg");
  transform: scale(-1, 1);
}
.relation__slider .swiper-button-next:after {
  background-image: url("../../assets/img/common/arrow-swiper.svg");
}
.relation__slider .swiper-slide {
  height: auto;
}
.relation__slider .swiper-slide img {
  height: auto;
  width: 100%;
}
.relation__slide {
  position: relative;
  background-color: #f2f2f2;
  padding: 1rem;
  transition: all ease-in-out 0.6s;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .relation__slide {
    padding: 1rem;
  }
}
.relation__slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #f2f2f2;
  transition: all ease-in-out 0.6s;
}
.relation__slide:hover {
  background-color: #fff7cc;
}
.relation__slide:hover::before {
  border: 2px solid #ef7134;
}
.relation__thumbnail {
  position: relative;
  height: 0;
  padding-top: 71%;
  width: 100%;
  overflow: hidden;
}
.relation__thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  font-family: "object-fit:cover; object-position:50% 50%; ";
}
.relation__cat {
  display: inline-block;
  border: 1px solid #ef7134;
  background-color: #fff;
  color: #ef7134;
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 767px) {
  .relation__cat {
    font-size: 0.7333333333rem;
    padding: 0.3333333333rem 0.6666666667rem;
  }
}
.relation__txt {
  font-size: 0.7rem;
  line-height: 1.1rem;
  margin-top: 0.25rem;
}
@media only screen and (max-width: 767px) {
  .relation__txt {
    font-size: 0.8666666667rem;
    line-height: 1.2666666667rem;
  }
}
.relation .btnType01 {
  margin-top: 2rem;
}
@media only screen and (max-width: 767px) {
  .relation .btnType01 {
    margin-top: 2rem;
  }
}

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-pagenavi span, .wp-pagenavi a {
  background-color: #e6e6e6;
  border-radius: 50%;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.375rem;
  text-align: center;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .wp-pagenavi span, .wp-pagenavi a {
    font-size: 1.1333333333rem;
    margin: 0 0.3333333333rem;
    line-height: 2.6666666667rem;
    height: 2.6666666667rem;
    width: 2.6666666667rem;
  }
}
.wp-pagenavi span.current, .wp-pagenavi a.current {
  background-color: #ef7134;
  color: #fff;
}
.wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink {
  position: relative;
  background-color: #b3b3b3;
  color: #fff;
}
.wp-pagenavi .previouspostslink::after, .wp-pagenavi .nextpostslink::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0.2rem;
  width: 45%;
}
.wp-pagenavi .previouspostslink {
  order: -1;
}
.wp-pagenavi .previouspostslink::after {
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
  transform: skew(-45deg);
  left: 0.2rem;
  right: 0;
}
.wp-pagenavi .nextpostslink {
  order: 100;
}
.wp-pagenavi .nextpostslink::after {
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: skew(45deg);
  left: 0;
  right: 0.2rem;
}
.wp-pagenavi .extend {
  background-color: #fff;
  line-height: 2rem;
}

.mw_wp_form .mwform-checkbox-field input[type=checkbox] {
  display: none;
}
.mw_wp_form .mwform-checkbox-field input[type=checkbox]:checked + .mwform-checkbox-field-text::after {
  opacity: 1;
}
.mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  line-height: 1.6;
}
@media only screen and (max-width: 767px) {
  .mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text {
    padding-left: 2rem;
  }
}
.mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #cccccc;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text::before {
    height: 1.6666666667rem;
    width: 1.6666666667rem;
  }
}
.mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text::after {
  content: "";
  display: block;
  position: absolute;
  top: 42%;
  left: 0.45rem;
  transform: translateY(-50%) rotate(45deg);
  border-right: 0.25rem solid #ef7134;
  border-bottom: 0.25rem solid #ef7134;
  height: 0.75rem;
  width: 0.5rem;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .mw_wp_form .mwform-checkbox-field input[type=checkbox] + .mwform-checkbox-field-text::after {
    left: 0.5rem;
    height: 0.9333333333rem;
    width: 0.4666666667rem;
  }
}
.mw_wp_form .mwform-radio-field input[type=radio] {
  display: none;
}
.mw_wp_form .mwform-radio-field input[type=radio]:checked + .mwform-radio-field-text::after {
  opacity: 1;
}
.mw_wp_form .mwform-radio-field input[type=radio] + .mwform-radio-field-text {
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}
.mw_wp_form .mwform-radio-field input[type=radio] + .mwform-radio-field-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cccccc;
  height: 1.25rem;
  width: 1.25rem;
}
.mw_wp_form .mwform-radio-field input[type=radio] + .mwform-radio-field-text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.27rem;
  left: 0.25rem;
  border-radius: 50%;
  background: #ef7134;
  height: 0.9rem;
  width: 0.9rem;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.induction {
  position: relative;
  background-color: #333333;
  padding: 2rem 0;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .induction {
    padding: 2rem 0;
  }
}
.induction__title {
  position: absolute;
  right: 0;
  bottom: -0.6rem;
  left: 0;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .induction__title {
    bottom: -0.4rem;
    font-size: 4rem;
  }
}
.induction__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .induction__subtitle {
    font-size: 1.3333333333rem;
    line-height: 1.3;
  }
}
.induction__subtitle span.nmb {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
}
@media only screen and (max-width: 767px) {
  .induction__subtitle span.nmb {
    font-size: 2rem;
  }
}
.induction__subtitle strong {
  font-weight: 900;
  font-size: 1.7rem;
}
@media only screen and (max-width: 767px) {
  .induction__subtitle strong {
    font-size: 1.4666666667rem;
  }
}
.induction .sec__wrapper {
  position: relative;
  display: flex;
  border: 1px solid #ef7134;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .induction .sec__wrapper {
    display: block;
    margin-top: 1.6666666667rem;
    width: 80%;
  }
}
.induction__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .induction__contact {
    width: 100%;
  }
}
.induction__contact > * {
  position: relative;
  z-index: 3;
}
.induction__contact.tel {
  background-color: #ef7134;
}
.induction__contact.mail {
  background-color: #ffec80;
}
.induction__contact.mail .note, .induction__contact.mail .txt {
  color: #000;
}
.induction__contact .note {
  font-size: 1.3rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .induction__contact .note {
    font-size: 1.2rem;
  }
}
.induction__contact .nmb {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding-left: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .induction__contact .nmb {
    font-size: 2.3333333333rem;
  }
}
.induction__contact .nmb::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../../assets/img/common/icon-tel.svg");
  background-size: cover;
  height: 2rem;
  width: 2rem;
}
.induction__contact .attetion {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
}
.induction__contact .txt {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .induction__contact .txt {
    font-size: 0.7333333333rem;
  }
}
.induction__contact .mail {
  position: relative;
  background-color: #ef7134;
  border: 1px solid #fff;
  line-height: 2.65rem;
  height: 2.75rem;
  padding: 0 3.25rem 0 4rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .induction__contact .mail {
    padding: 0 2.8333333333rem 0 3.3333333333rem;
  }
}
.induction__contact .mail::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 2rem;
  bottom: 0;
  margin: auto;
  background-image: url("../../assets/img/common/icon-mail02.svg");
  background-size: cover;
  height: 0.9rem;
  width: 1.3rem;
}
@media only screen and (max-width: 767px) {
  .induction__contact .mail::before {
    left: 1rem;
    height: 1.0333333333rem;
    width: 1.4333333333rem;
  }
}
.induction__contact .mail::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.footer {
  background-color: #cccccc;
  padding: 4rem 0;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 3.3333333333rem 0 7.3333333333rem;
  }
}
.footer__top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3.5rem;
  z-index: 900;
  opacity: 0;
  transform: translateY(50px);
  transition: all ease-in-out 0.6s;
}
@media only screen and (max-width: 767px) {
  .footer__top {
    bottom: 5.5rem;
    width: 4rem;
  }
}
.footer__top.active {
  opacity: 1;
  transform: translateY(0);
}
.footer__fix {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 5.5rem;
  width: 100%;
  z-index: 999;
}
@media print, screen and (min-width: 768px) {
  .footer__fix {
    display: none;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  height: 100%;
  width: 50%;
}
.footer__contact.tel {
  background-color: #ef7134;
  color: #fff;
}
.footer__contact.mail {
  background-color: #ffec80;
}
.footer__contact .explain {
  font-size: 0.7333333333rem;
  font-weight: bold;
}
.footer__contact .icon {
  margin: 0.25rem 0.4rem 0 0;
  width: 1.1666666667rem;
}
.footer__contact .nmb {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 1.3333333333rem;
}
.footer__contact .note {
  font-size: 0.7333333333rem;
}
.footer__tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem 0;
}
.footer__mail {
  position: relative;
  border: 1px solid #fff;
  background-color: #ef7134;
  color: #fff;
  font-size: 0.8rem;
  height: 2rem;
  line-height: 1.8333333333rem;
  margin: 0.4rem 0;
  padding-left: 0.4rem;
  text-align: center;
  width: 100%;
}
.footer__mail::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0.4rem;
  bottom: 0;
  margin: auto;
  background-image: url("../../assets/img/common/icon-mail02.svg");
  background-size: cover;
  height: 0.7rem;
  width: 1rem;
}
.footer__mail::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.6rem;
  bottom: 0;
  margin: auto;
  width: 0.4rem;
  height: 0.4rem;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
}
.footer__logo {
  margin-right: 2.5rem;
  width: 14.25rem;
}
@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-right: 0;
    width: 13.9333333333rem;
  }
}
.footer__detail {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer__detail {
    margin-top: 1.3333333333rem;
  }
}
.footer__name {
  font-size: 1.1rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .footer__name {
    font-size: 1.3333333333rem;
  }
}
.footer__info {
  font-size: 0.6rem;
  line-height: 1.1rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 767px) {
  .footer__info {
    font-size: 0.7333333333rem;
    line-height: 1.2666666667rem;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  margin: 3rem 0;
}
@media only screen and (max-width: 767px) {
  .footer__list {
    flex-wrap: wrap;
    font-size: 0.9333333333rem;
    margin: 2rem 0;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer__item {
    margin-top: 0.8333333333rem;
  }
}
.footer__item:not(:last-of-type) {
  position: relative;
  margin-right: 2.5rem;
}
.footer__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.25rem;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}
.footer__copy {
  font-size: 0.6rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer__copy {
    font-size: 0.7333333333rem;
  }
}

.tran {
  transition: all 0.4s ease-in-out 0s;
}

.fadein {
  opacity: 0;
}
.fadein.scrollActive {
  opacity: 1;
}

.fadeout {
  opacity: 1;
}
.fadeout.scrollActive {
  opacity: 0;
}

.fadeTop {
  transform: translate(0, 50px);
}
.fadeTop.scrollActive {
  transform: translate(0, 0);
}

.fadeBottom {
  transform: translate(0, -50px);
}
.fadeBottom.scrollActive {
  transform: translate(0, 0);
}

.fadeRight {
  transform: translate(-50px, 0);
}
.fadeRight.scrollActive {
  transform: translate(0, 0);
}

.fadeLeft {
  transform: translate(50px, 0);
}
.fadeLeft.scrollActive {
  transform: translate(0, 0);
}

.scaleUp {
  transform: scale(0.97, 0.97);
}
.scaleUp.scrollActive {
  transform: scale(1, 1);
}

.scaleUp02 {
  transform: scale(0.8, 0.8);
}
.scaleUp02.scrollActive {
  transform: scale(1, 1);
}